#player-section {
    background-color: var(--green2);
}

table {
    background-color: var(--green1);
    margin: 1em 0 1em 0;
    border: 8px ridge var(--cream);
    width: 40vw;
    height: auto;
    }
    
    thead tr td {
    border-bottom: 1px solid black;
    }
    
    td {
    text-align: center;
    }
    
#input-header {
    margin: 0.5em 0 0.5em 0;
}

#player-input-box {
    margin-top: 1em;
}

#player-button {
    height: 2em;
    min-width: 4em;
    margin: 0.3em;
    border-radius: 0.4em;
    /* background-color: rgb(255, 153, 0);   */
    background-color: var(--blue2);
}

#player-submit {
    height: 2em;
    margin: 0.3em;
    border-radius: 0.4em;
    background-color: var(--green1);  
}

#winner-button {
    height: 2em;
    margin: 0.3em;
    border-radius: 0.4em;
    background-color: gold;  
}

#winner-text {
    color: var(--white);
}

#turn-text {
    color: var(--white);
}