.letter-buttons {
  margin: 0.2em;
  height: 3em;
  width: 3em;
  border-radius: 0.4em;
  background-color: var(--cream);
  color: var(--green2);
  font-weight: 800;
}

@media only screen and (max-width: 500px) {
  #letter-button-con {
    width: 95vw;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;

  }
  
}
