* {
  margin: 0;
}

:root {
  --green1: rgb(58, 147, 102);
  --green2: rgb(38, 88, 76);
  --blue1: rgb(177, 236, 250);
  --blue2: rgb(41, 128, 158);
  --red: rgb(229, 62, 72);
  --cream: rgb(219, 186, 132);
  --white: rgb(253, 255, 251);
}

.App {
  text-align: center;
  /* background-color: rgb(252, 252, 212); */
  background-color: var(--green2);
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#title-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

#title-banner {
  margin-top: 1em;
  /* margin-left: -1em; */
  background-color: var(--red);
  padding-left: 4em;
  padding-right: 4em;
}

#title {
  font-size: 3.5em;
  color: var(--white);
}

#motto {
  margin: 1em 0 1em 0;
  color: var(--white);
}
@media only screen and (max-width: 500px) {
  #title-banner {
    padding: 0;
  }
  #title {
    font-size: 3.2em;
    padding: 0 0.2em 0 0.2em;
  }
  #motto {
    font-size: 1em;
  }
}
