#instructions {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--white);
  font-size: 1em;
  max-height: 2em;
}

#instructions-container {
  text-align: left;
  background-color: var(--cream);
  color: var(--green2);
  height: fit-content;
  width: 50vw;
  margin: 1em 0 0 1em;
  border-radius: 0.5em;
  padding: 1em;
  z-index: 10;
}
#instructions-container2 {
  align-self: flex-end;
  text-align: left;
  background-color: var(--cream);
  color: var(--green2);
  height: fit-content;
  width: 50vw;
  margin: 1em 1em 0 0;
  border-radius: 0.5em;
  padding: 1em;
  z-index: 10;
}

#instructions-list {
  list-style: none;
  margin-left: -1em;
}

.instruction-head {
  color: black;
  font-weight: 700;
  margin: 0.2em 0;
}

#instruction-player-button {
  height: 2em;
  min-width: 4em;
  margin: 0.3em;
  border-radius: 0.4em;
  border-color: var(--white);
  /* background-color: rgb(255, 153, 0);   */
  background-color: var(--blue2);
  color: var(--white);
}

#close-instructions {
  height: 2em;
  margin: 0.3em;
  border-radius: 0.4em;
  background-color: var(--blue2);
}

@media only screen and (max-width: 900px) {
  #instructions-container {
    width: 80vw;
  }
}

/* #instructions-letter-buttons {
  margin: 0.2em;
  height: 3em;
  width: 3em;
  border-radius: 0.4em;
  background-color: var(--cream);
  color: var(--green2);
  font-weight: 800;
}

#instructions-double-word-button {
  height: 2em;
  margin: 0.3em;
  border-radius: 0.4em;
  background-color: rgb(247, 228, 65);
}

#instructions-triple-word-button {
  height: 2em;
  margin: 0.3em;
  border-radius: 0.4em;
  background-color: var(--red);
} */
