#display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#display-button {
    margin: 0.5em;
    height: 5em;
    width: 5em;
    border-radius: 0.4em;
    background-color: #e6caa2;
    color: #023a12;
}

#letter-layout {
    display: flex;
    justify-content: center;
}

#letter-button-layout {
    display: flex;
    flex-direction: column;
}

.checkbox-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.checkboxes {
    margin-left: 0.3em;
    font-size: 0.9em;
}

#double-letter-button {
    margin-left: 0.5em;
    margin-top: 0.1em;
    height: 2em;
    width: 5em;
    border-radius: 0.4em;
    background-color: #6cc8f3; 
}
#triple-letter-button {
    margin-left: 0.5em;
    margin-top: 0.1em;
    height: 2em;
    width: 5em;
    border-radius: 0.4em;
    background-color: #6c75f3;  
}

#double-word-button {
height: 2em;
margin: 0.3em;
border-radius: 0.4em;
background-color: rgb(247, 228, 65);
}

#triple-word-button {
height: 2em;
margin: 0.3em;
border-radius: 0.4em;
background-color: red;
}

.score-mode {
    height: 3em;
}