#display-button {
    margin: 0.5em;
    height: 5em;
    width: 5em;
    border-radius: 10%;
    background-color: blanchedalmond;
}

#letter-layout {
    display: flex;
    justify-content: center;
}

#letter-button-layout {
    display: flex;
    flex-direction: column;
}