#display {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--green2);
}

#display-button {
  margin: 0.5em 0.5em 0.5em 0.5em;
  height: 4.5em;
  width: 4.5em;
  border-radius: 0.4em;
  background-color: var(--cream);
  color: var(--green2);
  font-weight: 700;
  box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.39);
}

/* @media only screen and (max-width: 500px) {
  #display-button {
    scale: 0.6;
    margin: 0.2em;
  }
  .remove-button {
    scale: 0.8;
  }
  
} */

#letter-layout {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 25vh;
  width: 100vw;
}

#letter-button-layout {
  display: flex;
  flex-direction: column;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.checkboxes {
  margin-left: 0.7em;
  font-size: 1em;
  color: var(--white);
}

#double-letter-button {
  margin-left: 0.5em;
  margin-top: 0.1em;
  height: 2em;
  width: 5em;
  border-radius: 0.4em;
  background-color: var(--blue1);
}
#triple-letter-button {
  margin-left: 0.5em;
  margin-top: 0.1em;
  height: 2em;
  width: 5em;
  border-radius: 0.4em;
  background-color: #6c75f3;
}

.double-word-button {
  height: 2em;
  margin: 0.3em;
  border-radius: 0.4em;
  background-color: rgb(247, 228, 65);
}

.double-word-extra {
  height: 2em;
  margin: 0.3em;
  border-radius: 0.4em;
  background-color: rgb(247, 228, 65);
}

.triple-word-button {
  height: 2em;
  margin: 0.3em;
  border-radius: 0.4em;
  background-color: var(--red);
}

.triple-word-extra {
  height: 2em;
  margin: 0.3em;
  border-radius: 0.4em;
  background-color: var(--red);
}

.all-tiles-button {
  height: 2em;
  margin: 0.3em;
  border-radius: 0.4em;
  background-color: var(--blue1);
}

.remove-button {
  height: 2em;
  width: 5em;
  margin: 0.3em 0 0.3em 0.8em;
  border-radius: 0.4em;
  background-color: rgb(236, 127, 76);
}

.check-button {
  height: 2em;
  margin: 0.3em;
  border-radius: 0.4em;
  background-color: rgb(109, 243, 161);
  /* background-color: rgb(204, 0, 255); */
}

.submit-button {
  height: 2em;
  margin: 0.3em;
  border-radius: 0.4em;
  background-color: rgb(93, 218, 141);
}

.clear-button {
  height: 2em;
  margin: 0.3em;
  border-radius: 0.4em;
  background-color: rgb(236, 127, 76);
}

.score-mode {
  min-height: 5em;
  max-height: fit-content;
  margin: 0.5em 0;
  color: var(--white);
}

#word-score {
  color: var(--white);
  margin: 0.5em 0;
}
